
/* #container  */
#readings-container {
  border: 4px solid white;
  width: 400px;
  height: 600px;
  margin: auto;
}

/* #back */
#chapter-back {
  border: 4px solid rgb(30, 204, 59);
  background-color: rgba(153, 50, 204, 0.383);
  width: 100px;
  height: 50px;
  float: left;
  text-align: center;
}
/* #finder-menu */
#reader-chapter {
  border: 4px solid rgb(30, 33, 204);
  background-color: rgba(153, 50, 204, 0.383);
  width: 100px;
  height: 50px;
  float: left;
  text-align: center;
}

/* #forward  */
#chapter-forward {
  border: 4px solid rgb(30, 204, 59);
  background-color: rgba(153, 50, 204, 0.383);
  width: 100px;
  height: 50px;
  float: right;
  text-align: center;
}

/* #menu */
#chapter {
  background-color: #4c8caf4d;
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
}

/* #finder-menu */
#reader-chapter {
  text-align: center;
  margin-left: 40px;
}

/* #menu-content */
#chapter-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* #menu-content */
#chapter-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* #menu-content */
#chapter-content option:hover {
  background-color: #f1f1f12e;
  cursor: pointer;
}

/* finder-menu */
#reader-chapter:hover #chapter-content {
  display: block;
}


#reader-chapter:hover #chapter {
  background-color: #3e8e4144;
}
