@media screen and (max-width: 650px)  {

  body > header {
    height: 250px;
  }

  body > header > h1 {
    width: min-content;
    text-align: center;
  }

  main ol {
    width: 80%;
  }

  fieldset {
    display: block;
  }
  label {
    display: block;
    width: max-content;
    margin: auto;
    padding: 15px;
    padding-bottom: 0;
  }

  input[type=submit] {
    display: block;
    margin: 15px auto;;
  }

  #div-right {
    position: fixed;
    bottom: 1;
  }

#phone {
  display: grid;
  grid-template-columns: 1fr;
}
 
}
